<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ios12.androids">

    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 添加网络操作权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 注册广播 静态注册 -->
        <!-- <receiver android:name="MyBroadcast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"> -->
        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name=".WebViewStudy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".Broadcast" -->
        <!-- android:label="@string/title_activity_broadcast" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".Imagedown" -->
        <!-- android:label="@string/title_activity_imagedown" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".Services" -->
        <!-- android:label="@string/title_activity_services" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <!-- <service -->
        <!-- android:name=".MyIntentService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"/> -->
        <service
            android:name=".BundleService"
            android:enabled="true"
            android:exported="true" />

        <!-- <activity -->
        <!-- android:name=".HandleStudy" -->
        <!-- android:label="@string/title_activity_handle_study" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".DownloadByThread" -->
        <!-- android:label="@string/title_activity_download_by_thread" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".HttpRequest" -->
        <!-- android:label="@string/title_activity_http_request" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".ListViewOnICON" -->
        <!-- android:label="@string/title_activity_list_view_on_icon" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".Gridview" -->
        <!-- android:label="@string/title_activity_gridview" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!-- <activity -->
        <!-- android:name=".home" -->
        <!-- android:label="@string/title_activity_home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <!--<activity-->
            <!--android:name=".WebViewStudy"-->
            <!--android:label="@string/title_activity_web_view_study"-->
            <!--android:theme="@style/AppTheme.NoActionBar"></activity>-->
    </application>

</manifest>